* {
    font-family: Arial;
    font-size: 12px
}

body {
    background: #f3f2f2
}

#globalContent {
    margin: auto !important;
    background: #fff;
    padding: 0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 5px 5px 5px #888
}

td {
    padding: 0
}

.gwt-TextBox-missing,
.gwt-DateBox-missing,
.cellListWidget-missing,
.gwt-ListBox-missing,
.radioButtonsContainer-missing,
.checkBoxsContainer-missing,
.gwt-PasswordTextBox-missing,
.gwt-DateBox-missing,
.gwt-TextArea-missing,
.gwt-HTML-missing .select2-choice,
.gwt-HTML-missing .select2-choices {
    border: 1px solid red !important
}

body {
    margin: 0
}

.position_fixed {
    position: fixed
}

.icon23,
.iconFlag {
    zoom: 1;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    width: 23px;
    height: 23px;
    margin: 0 .5em;
    background-image: url(/style/images/icons23.png);
    background-repeat: no-repeat;
    background-position: left top;
    vertical-align: middle
}

.icon-budy {
    background-position: left -23px
}

.iconFlag {
    background-image: url(/style/images/flags.png)
}

.iconFlag-en {
    background-position: left -23px
}

.iconFlag-po {
    background-position: left -46px
}

.bigIcon {
    zoom: 1;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    width: 120px;
    height: 117px;
    background-image: url(/style/images/bigIcons2.png);
    background-repeat: no-repeat;
    background-position: left top
}

.bigIcon-partners {
    background-position: -120px top
}

.bigIcon-account {
    background-position: -240px top
}

.bigIcon-buddy {
    background-position: -360px top
}

.bigIcon-projects {
    background-position: -480px top
}

.bigIcon-monitoring {
    background-position: -600px top
}

.bigIcon-reporting {
    background-position: -720px top
}

.bigIcon-libraryTpl {
    background-position: -840px top
}

.bigIcon-libraryConnector {
    background-position: -960px top
}

.bigIcon-support {
    background-position: -1080px top
}

.bigIcon-cart {
    background-position: -1200px top
}

.bigIcon-defaultApps0 {
    background-position: -1320px top
}

.bigIcon-defaultApps1 {
    background-position: -1440px top
}

.bigIcon-defaultApps2 {
    background-position: -1560px top
}

div#rmpfooter * {
    font-size: x-small
}

div#rmpfooter {
    margin-left: 5%;
    margin-bottom: 20px;
    margin-top: 12px;
    margin-right: 5%
}

.sortDescStyle {
    margin: 0 0 0 30px;
    width: 100%
}

div#rmpfooter #poweredrmp {
    width: 50%;
    font-size: x-small;
    text-align: right;
    float: right
}

.mainTable {
    width: 100%
}

.rowStyle {
    margin: 0 0 7px 0
}

#loading-indicator img {
    vertical-align: middle
}

#loading-indicator {
    float: top;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-left: 4px;
    height: 24px;
    text-align: center;
    padding: 10px 0
}

.LabelError {
    color: red;
    padding: 0 5px
}

.gwt-DecoratorPanel .topCenter,
.gwt-DecoratorPanel .bottomCenter {
    background: url('images/hborder.png') repeat-x
}

.gwt-DecoratorPanel .middleLeft,
.gwt-DecoratorPanel .middleRight {
    background: url('images/vborder.png') repeat-y
}

.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
    width: 5px;
    height: 5px;
    zoom: 1
}

html>body .gwt-DecoratorPanel .topLeft {
    background: url('images/corner.png') no-repeat 0 0
}

html>body .gwt-DecoratorPanel .topRight {
    background: url('images/corner.png') no-repeat -5px 0
}

html>body .gwt-DecoratorPanel .bottomLeft {
    background: url('images/corner.png') no-repeat 0 -5px
}

html>body .gwt-DecoratorPanel .bottomRight {
    background: url('images/corner.png') no-repeat -5px -5px
}

* html .gwt-DecoratorPanel .topLeftInner {
    width: 5px;
    height: 5px;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/corner.png', sizingMethod='crop')
}

* html .gwt-DecoratorPanel .topRightInner {
    width: 10px;
    height: 5px;
    margin-left: -5px;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/corner.png', sizingMethod='crop')
}

* html .gwt-DecoratorPanel .bottomLeftInner {
    width: 5px;
    height: 10px;
    margin-left: 0;
    margin-top: -5px;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/corner.png', sizingMethod='crop')
}

* html .gwt-DecoratorPanel .bottomRightInner {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/corner.png', sizingMethod='crop')
}

.gwt-DialogBox {
    z-index: 444
}

.gwt-DialogBox .Caption {
    background: #e3e8f3 url('images/hborder.png') repeat-x 0 -2003px;
    padding: 4px 4px 4px 8px;
    cursor: default;
    border-bottom: 1px solid #bbb;
    border-top: 5px solid #d0e4f6
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white
}

html>body .gwt-DialogBox .dialogBottomCenter {
    background: url('images/hborder.png') repeat-x 0 -4px
}

* html .gwt-DialogBox .dialogBottomCenter {
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/ie6/hborder_blue_shadow.png', sizingMethod='scale')
}

.gwt-DialogBox .dialogMiddleLeft {
    background: url('images/vborder.png') repeat-y
}

html>body .gwt-DialogBox .dialogMiddleRight {
    background: url('images/vborder.png') repeat-y -4px 0
}

* html .gwt-DialogBox .dialogMiddleRight {
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/ie6/vborder_blue_shadow.png', sizingMethod='scale')
}

.gwt-DialogBox .dialogTopLeftInner {
    width: 5px;
    zoom: 1
}

.gwt-DialogBox .dialogTopRightInner {
    width: 8px;
    zoom: 1
}

.gwt-DialogBox .dialogBottomLeftInner {
    width: 5px;
    height: 8px;
    zoom: 1
}

.gwt-DialogBox .dialogBottomRightInner {
    width: 5px;
    height: 8px;
    zoom: 1
}

html>body .gwt-DialogBox .dialogTopLeft {
    background: url('images/corner.png') no-repeat -13px 0
}

html>body .gwt-DialogBox .dialogTopRight {
    background: url('images/corner.png') no-repeat -18px 0
}

html>body .gwt-DialogBox .dialogBottomLeft {
    background: url('images/corner.png') no-repeat 0 -15px
}

html>body .gwt-DialogBox .dialogBottomRight {
    background: url('images/corner.png') no-repeat -5px -15px
}

* html .gwt-DialogBox .dialogTopLeft {
    width: 5px;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/ie6/corner_dialog_topleft.png', sizingMethod='crop')
}

* html .gwt-DialogBox .dialogTopRight {
    width: 8px;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/ie6/corner_dialog_topright.png', sizingMethod='crop')
}

* html .gwt-DialogBox .dialogBottomLeftInner {
    width: 5px;
    height: 23px;
    margin-top: -15px;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/corner.png', sizingMethod='crop')
}

* html .gwt-DialogBox .dialogBottomRightInner {
    width: 13px;
    height: 23px;
    margin-left: -5px;
    margin-top: -15px;
    overflow: hidden;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/script/com.runmyprocess.ApplicationRunner/css/images/corner.png', sizingMethod='crop')
}

.gwt-Button {
    line-height: 1.25em;
    font-weight: bold;
    color: #000;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid #e3e3e3 1px;
    background-color: #f3f3f3;
    background: -o-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e8e8e8));
    background: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -moz-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -ms-linear-gradient(top, #f3f3f3, #e8e8e8);
    background-image: linear-gradient(top, #f3f3f3, #e8e8e8);
    padding: .6em .8em;
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0)
}

.sortDescStyle {
    float: right
}

.hide {
    display: none
}

.gwt-TextBox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#applicationContent {
    overflow: auto;
    padding: 20px 10px 10px 10px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 8px 0
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 20px
}

h3 {
    font-size: 16px
}

h4 {
    font-size: 14px
}

h5 {
    font-size: 13px
}

h6 {
    font-size: 12px
}

#applicationContent,
td,
th {
    color: #000
}

table {
    border-spacing: 0
}

.ColumnHeader,
.array-column-footer,
.array-header td {
    background: #f1f1f1;
    color: #676767;
    padding: .6em .8em;
    border: 0;
    border-right: solid #e3e3e3 1px;
    border-bottom: solid #e3e3e3 1px
}

.array-header td:first-child {
    border-left: solid #e3e3e3 1px
}

.ATHeader table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin: 0
}

.ATHeader div.ColumnHeader {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center
}

.array-header:first-child td {
    border-top: solid #e3e3e3 1px
}

.array-footer>td {
    background: #e7e7e7;
    border-bottom: solid #d9d9d9 1px;
    border-right: solid #d9d9d9 1px;
    padding: .4em .8em
}

.array-footer>td:first-child {
    border-left: solid #d9d9d9 1px
}

.ColumnHeaderText {
    text-align: center;
    font-weight: bold
}

.gwt-TreeItem td {
    border: 0;
    border-right: solid #e3e3e3 1px;
    border-bottom: solid #e3e3e3 1px
}

.gwt-TreeItem td:first-child {
    border-left: solid #e3e3e3 1px
}

.gwt-TreeItem tr:first-child td {
    border-top: solid #e3e3e3 1px
}

tr.odd>td,
tr.even>td {
    border: solid #e3e3e3 1px;
    padding: .4em .8em
}

tr.odd>td:first-child,
tr.even>td:first-child {
    border-left: solid #e3e3e3 1px
}

tr.odd td {
    background: #f1f1f1
}

tr.even td {
    background: #fff
}

.ColumnHeader td {
    line-height: 1.25em
}

.History textarea {
    border: solid #e3e3e3 1px;
    padding: .4em .8em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: inset 1px 1px 2px #f3f3f3;
    -moz-box-shadow: inset 1px 1px 2px #f3f3f3;
    box-shadow: inset 1px 1px 2px #f3f3f3;
    -ms-filter: progid: DXImageTransform.Microsoft.DropShadow(Color=#f3F3F3, OffX=1px, OffY=shadowTop, Positive=1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: vertical
}

.History textarea[disabled],
.History textarea[readonly] {
    background-color: #fcfcfc;
    color: #676767
}

.gwt-TabBar {
    padding: 0
}

.gwt-TabBarItem-wrapper {
    background: 0
}

.gwt-TabBarItem {
    line-height: 1.25em;
    font-weight: bold;
    color: #000;
    text-align: center;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    border: solid #e3e3e3 1px;
    border-bottom: 0;
    background-color: #f3f3f3;
    background: -o-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e8e8e8));
    background: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -moz-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -ms-linear-gradient(top, #f3f3f3, #e8e8e8);
    background-image: linear-gradient(top, #f3f3f3, #e8e8e8);
    padding: .6em .8em;
    cursor: pointer;
    margin: 0 .4em 0 0;
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0)
}

.gwt-TabBarFirst {
    background: red;
    display: none
}

.gwt-TabBarItem-selected {
    background: #fff;
    position: relative;
    border-top-width: 1px;
    top: 1px;
    filter: none
}

.gwt-TabPanelBottom {
    border: solid #e3e3e3 1px;
    padding: 10px
}

.gwt-DisclosurePanel>tbody>tr>td>div {
    margin-left: 1.5em;
    margin-top: 1.5em
}

.gwt-DisclosurePanel a.header {
    text-decoration: none;
    margin: 0;
    background-color: #f3f3f3;
    background: -o-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e8e8e8));
    background: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -moz-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -ms-linear-gradient(top, #f3f3f3, #e8e8e8);
    background-image: linear-gradient(top, #f3f3f3, #e8e8e8);
    border-bottom: solid #e3e3e3 1px;
    padding-top: .6em;
    padding-bottom: .6em
}

.gwt-DisclosurePanel a.header td {
    font-weight: bold
}

.gwt-DisclosurePanel {
    border: solid #e3e3e3 1px;
    margin: 0
}

.gwt-DisclosurePanel .header table {
    width: 100%;
    position: relative
}

.gwt-DisclosurePanel .header td {
    padding: 0 0 0 5px
}

.gwt-DisclosurePanel .header td:first-child {
    right: 5px
}

.rmpCaptcha {
    border: solid #e3e3e3 1px;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-collapse: collapse
}

.rmpCaptcha .LabelVariable {
    display: none
}

.rmpCaptcha .required {
    display: block !important;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0 !important
}

.rmpCaptcha .reload-captcha-button {
    padding: 0;
    width: 31px;
    height: 31px;
    background-image: url(images/new/reload.gif);
    background-position: center center;
    background-repeat: no-repeat;
    border: 0
}

.rmpCaptcha>tbody>tr>td:first-child {
    padding-right: 0
}

.rmpCaptcha>tbody>tr>td:first-child+td .gwt-Image {
    background: url(images/new/recharger.png) !important;
    width: 31px !important;
    height: 30px !important
}

.rmpCaptcha>tbody>tr>td:last-child {
    background: #f1f1f1
}

.rmpCaptcha td {
    padding: .6em .8em
}

.rmpCaptcha td td {
    padding: 0
}

.gwt-Button,
.gwt-PushButton,
button {
    line-height: 1.25em;
    white-space: nowrap;
    color: #000;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid #e3e3e3 1px;
    background-color: #f3f3f3;
    background: -o-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e8e8e8));
    background: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -moz-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -ms-linear-gradient(top, #f3f3f3, #e8e8e8);
    background-image: linear-gradient(top, #f3f3f3, #e8e8e8);
    padding: 6px 9px;
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0)
}

.gwt-Button:active,
.gwt-PushButton:active,
button:active {
    background-color: #e8e8e8;
    background: -o-linear-gradient(top, #e8e8e8, #f3f3f3);
    background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f3f3f3));
    background: -webkit-linear-gradient(top, #e8e8e8, #f3f3f3);
    background: -moz-linear-gradient(top, #e8e8e8, #f3f3f3);
    background: -ms-linear-gradient(top, #e8e8e8, #f3f3f3);
    background-image: linear-gradient(top, #e8e8e8, #f3f3f3);
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#e8e8e8', EndColorStr='#f3f3f3', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#e8e8e8', EndColorStr='#f3f3f3', GradientType=0)
}

.gwt-Button[disabled],
.gwt-PushButton[disabled],
button[disabled] {
    background-color: #f8f8f8;
    background: -o-linear-gradient(top, #f8f8f8, #ececec);
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ececec));
    background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
    background: -moz-linear-gradient(top, #f8f8f8, #ececec);
    background: -ms-linear-gradient(top, #f8f8f8, #ececec);
    background-image: linear-gradient(top, #f8f8f8, #ececec);
    color: #7f7f7f;
    cursor: default;
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f8f8f8', EndColorStr='#ececec', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f8f8f8', EndColorStr='#ececec', GradientType=0)
}

.gwt-TextBox:focus,
.gwt-DateBox:focus,
.ATHeader input:focus,
textarea:focus {
    border: 1px solid darkgray
}

.gwt-PushButton {
    padding: 0;
    *padding: .6em .8em;
    margin: .25em
}

.gwt-PushButton>table td {
    padding: .2em 0;
    vertical-align: middle;
    text-align: center
}

.gwt-PushButton>table td .gwt-Image {
    margin: 0 .6em
}

.gwt-PushButton>table td .gwt-Label {
    display: block;
    padding: 0 .6em;
    _padding: 0;
    width: auto !important
}

.gwt-PushButton>table td .gwt-Label:empty {
    display: none
}

.gwt-PushButton>table td:first-child {
    border-right: solid #e3e3e3 1px;
    border-width: 2px
}

.gwt-ListBox {
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid #e3e3e3 1px;
    background-image: linear-gradient(top, #f3f3f3, #e8e8e8);
    padding: 4px 5px;
    cursor: pointer
}

.gwt-ListBox[disabled],
.gwt-ListBox[readonly] {
    background-color: #f8f8f8;
    background: -o-linear-gradient(top, #f8f8f8, #ececec);
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ececec));
    background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
    background: -moz-linear-gradient(top, #f8f8f8, #ececec);
    background: -ms-linear-gradient(top, #f8f8f8, #ececec);
    background-image: linear-gradient(top, #f8f8f8, #ececec);
    color: #7f7f7f;
    background: #e6e6e6;
    cursor: default;
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f8f8f8', EndColorStr='#ececec', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f8f8f8', EndColorStr='#ececec', GradientType=0)
}

.required {
    background-image: none !important;
    padding-left: 0
}

.required:after {
    display: block;
    float: right;
    content: '*';
    padding-right: .5em;
    font-size: 1.2em;
    font-family: serif;
    font-weight: bold;
    color: red
}

.ColumnHeader .gwt-TextBox {
    margin: 2px 0 0 0 !important
}

.gwt-TextBox,
.gwt-DateBox,
.gwt-PasswordTextBox,
.ATHeader input,
textarea {
    border: solid #e3e3e3 1px;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: inset 1px 1px 2px #f3f3f3;
    -moz-box-shadow: inset 1px 1px 2px #f3f3f3;
    box-shadow: inset 1px 1px 2px #f3f3f3;
    -ms-filter: progid: DXImageTransform.Microsoft.DropShadow(Color=#f3F3F3, OffX=1px, OffY=shadowTop, Positive=1)
}

.gwt-TextBox[disabled],
.gwt-TextBox[readonly],
.gwt-DateBox[disabled],
.gwt-DateBox[readonly],
.ATHeader input[disabled],
.ATHeader input[readonly],
textarea[disabled],
textarea[readonly] {
    color: #929292
}

.array-td-buttons button.delete-button {
    background-position: left -14px
}

.array-td-buttons {
    width: 40px;
    padding: 2px !important
}

.BorderPanel {
    border: solid #e3e3e3 1px
}

.BorderPanel td .gwt-Image,
.BorderPanel td img.Clickable {
    margin: .8em 0 0 .2em
}

.blue-date-picker {
    width: 190px !important;
    z-index: 999 !important
}

.popupContent {
    background: #fff !important;
    border: solid #e3e3e3 1px;
    -moz-border-radius-topbottom: 3px;
    -webkit-border-top-bottom-radius: 3px;
    border-top-bottom-radius: 3px;
    -moz-border-radius-topbottom: 3px;
    -webkit-border-top-bottom-radius: 3px;
    border-top-bottom-radius: 3px;
    padding: .4em .8em
}

.gwt-PushButton>table td .gwt-Label {
    padding: 7px 2px 0 2px
}

.gwt-Button:hover,
.gwt-PushButton:hover,
.gwt-Button:hover {
    border: 1px solid gray
}

.pagerStyle {
    width: 250px !important;
    white-space: nowrap
}

.editWrapperStyle {
    width: 100%
}

.pagerWrapperStyle {
    width: 100%
}

.viewWrapperStyle {
    width: 100%
}

.Buttons-Right {
    float: right
}

.reportbarstyle {
    line-height: 1.25em;
    font-weight: bold;
    color: #000;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid #e3e3e3 1px;
    background-color: #f3f3f3;
    background: -o-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e8e8e8));
    background: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -moz-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -ms-linear-gradient(top, #f3f3f3, #e8e8e8);
    background-image: linear-gradient(top, #f3f3f3, #e8e8e8);
    padding: .6em .8em;
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0);
    margin: 3px 0 0
}

.ArrayTree-Presenter>div:first-child,
.ArrayTree-Presenter>div[hidefocus=true] {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important
}

.ArrayTree-Presenter>div {
    margin: 0 !important;
    padding: 0 !important
}

.sort-asc-button,
.sort-desc-button,
.sort-header-button {
    background-position: bottom right !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    height: 100% !important;
    margin-left: 1px !important
}

.empty_leaf:after {
    color: transparent;
    content: '-------'
}

.pagerWrapperStyle .gwt-Image {
    cursor: pointer;
    cursor: hand
}

.GOAC52RLF .gwt-Image {
    cursor: default
} 

/*bottom placed tabs*/ 
.gwt-TabBar-atbottom{padding:0}

/*extended button */
table.rmpExtButton {
    padding: 0;
    spacing: 0;
    width: 100%;
    font-weight: bold;
    text-align: center
}

table.rmpExtButton td {
    padding-right: 2px;
    padding-left: 2px
}

.gwt-TabBar-atbottom .gwt-TabBarItem {
    line-height: 1.25em;
    font-weight: bold;
    color: #000;
    text-align: center;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid #e3e3e3 1px;
    border-top: 0;
    background-color: #f3f3f3;
    background: -o-linear-gradient(bottom, #f3f3f3, #e8e8e8);
    background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#e8e8e8));
    background: -webkit-linear-gradient(bottom, #f3f3f3, #e8e8e8);
    background: -moz-linear-gradient(bottom, #f3f3f3, #e8e8e8);
    background: -ms-linear-gradient(bottom, #f3f3f3, #e8e8e8);
    background-image: linear-gradient(bottom, #f3f3f3, #e8e8e8);
    padding: .6em .8em;
    cursor: pointer;
    margin: 0 .4em 0 0;
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0)
}

.gwt-TabBar-atbottom .gwt-TabBarItem-selected {
    background: #fff;
    position: relative;
    top: 0;
    filter: none
}

.rmpFileUpload .gwt-TextBox {
    width: 100%
}

.rmpFileUpload .fileDownloadButton {
    position: absolute;
    right: 30px
}

.rmpFileUpload .fileDownloadButton-nodelete {
    position: absolute;
    right: 2px
}

.rmpFileUpload .fileDeleteButton {
    position: absolute;
    right: 2px
}

.rmpFileUpload .fileName {
    float: left;
    padding-left: 6px;
    margin-right: 75px;
    padding-top: 2px;
    white-space: nowrap
}

.cellListEvenItem,
.cellListOddItem {
    position: relative
}

.rmpFileUpload .cellListWidget {
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid #e3e3e3 1px;
    background-color: #f3f3f3;
    background: -o-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e8e8e8));
    background: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -moz-linear-gradient(top, #f3f3f3, #e8e8e8);
    background: -ms-linear-gradient(top, #f3f3f3, #e8e8e8);
    background-image: linear-gradient(top, #f3f3f3, #e8e8e8);
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e8e8e8', GradientType=0)
}

.gwt-Button[disabled]:hover {
    border: solid #e3e3e3 1px !important;
    background-color: #f8f8f8 !important;
    background: -o-linear-gradient(top, #f8f8f8, #ececec) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ececec)) !important;
    background: -webkit-linear-gradient(top, #f8f8f8, #ececec) !important;
    background: -moz-linear-gradient(top, #f8f8f8, #ececec) !important;
    background: -ms-linear-gradient(top, #f8f8f8, #ececec) !important;
    background-image: linear-gradient(top, #f8f8f8, #ececec) !important;
    color: #7f7f7f !important;
    cursor: default !important;
    filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f8f8f8', EndColorStr='#ececec', GradientType=0) !important;
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#f8f8f8', EndColorStr='#ececec', GradientType=0) !important
}

.rmpButton:hover {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #2ab5e4;
    background-color: #d1eff9;
    background: -o-linear-gradient(top, #d1eff9, #95dbf2);
    background: -webkit-gradient(linear, left top, left bottom, from(#d1eff9), to(#95dbf2));
    background: -webkit-linear-gradient(top, #d1eff9, #95dbf2);
    background: -moz-linear-gradient(top, #d1eff9, #95dbf2);
    background: -ms-linear-gradient(top, #d1eff9, #95dbf2);
    background-image: linear-gradient(top, #d1eff9, #95dbf2);
    ms-filter: progid: DXImageTransform.Microsoft.Gradient(StartColorStr='#d1eff9', EndColorStr='#95dbf2', GradientType=0)
}

.gwt-PushButton-up-disabled .gwt-Image {
    opacity: .5;
    filter: alpha(opacity=50)
}

.gwt-PushButton-up-disabled:hover {
    border: solid #e3e3e3 1px !important;
    cursor: default !important
}

.gwt-DatePicker {
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    cursor: default
}

.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
    outline: 0
}

.gwt-DatePicker .datePickerMonthSelector td:focus {
    outline: 0
}

.gwt-DatePicker .datePickerDays {
    width: 100%;
    background: white
}

.gwt-DatePicker .datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    font-size: 85%;
    text-align: center;
    padding: 4px;
    outline: 0;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed
}

.gwt-DatePicker .datePickerWeekdayLabel,
.datePickerWeekendLabel {
    background: #fff;
    padding: 0 4px 2px;
    cursor: default;
    color: #666;
    font-size: 70%;
    font-weight: normal
}

.gwt-DatePicker .datePickerDay {
    padding: 4px 7px;
    cursor: hand;
    cursor: pointer
}

.gwt-DatePicker .datePickerDayIsWeekend {
    background: #f7f7f7
}

.gwt-DatePicker .datePickerDayIsFiller {
    color: #999;
    font-weight: normal
}

.gwt-DatePicker .datePickerDayIsValue {
    background: #d7dfe8
}

.gwt-DatePicker .datePickerDayIsDisabled {
    color: #aaa;
    font-style: italic
}

.gwt-DatePicker .datePickerDayIsHighlighted {
    background: #f0e68c
}

.gwt-DatePicker .datePickerDayIsValueAndHighlighted {
    background: #d7dfe8
}

.gwt-DatePicker .datePickerDayIsToday {
    padding: 3px;
    color: #fff;
    background: url(images/hborder2.png) repeat-x 0 -2607px
}

.gwt-DatePicker .datePickerMonthSelector {
    width: 100%;
    padding: 1px 0 5px 0;
    background: #fff
}

.gwt-DatePicker .datePickerPreviousButton,
.datePickerNextButton {
    font-size: 120%;
    line-height: 1em;
    color: #3a6aad;
    cursor: hand;
    cursor: pointer;
    font-weight: bold;
    padding: 0 4px;
    outline: 0
}

.gwt-DatePicker td.datePickerMonth {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    font-weight: bold;
    color: #333
}

.gwt-DateBox input {
    width: 8em
}

.dateBoxFormatError {
    background: #fcc
}

.enabled-Image-Button {
    cursor: pointer;
    cursor: hand
}

.disabled-Image-Button {
    opacity: .5;
    filter: alpha(opacity=50)
}

.dialogMiddleCenterInner td[colspan] table {
    margin: auto
}

.dialogMiddleCenterInner td {
    padding: 5px
}

#i18nBox {
    float: right;
    padding: 0 15px
}

.editWrapperStyle .ImageButton {
    margin-right: 6px
}

.Buttons-Right .ImageButton {
    margin-left: 6px
}

.exportStyle {
    cursor: pointer;
    cursor: hand
}

.alertify,
.alertify-show,
.alertify-log {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275)
}

.alertify-hide {
    -webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
}

.alertify-log-hide {
    -webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045)
}

.alertify-cover {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.alertify-cover-hidden {
    display: none
}

.alertify {
    position: fixed;
    z-index: 99999;
    top: 50px;
    left: 50%;
    width: 550px;
    margin-left: -275px;
    opacity: 1
}

.alertify-hidden {
    -webkit-transform: translate(0, -150px);
    -moz-transform: translate(0, -150px);
    -ms-transform: translate(0, -150px);
    -o-transform: translate(0, -150px);
    transform: translate(0, -150px);
    opacity: 0;
    display: none
}

:root *>.alertify-hidden {
    display: block
}

.alertify-logs {
    position: fixed;
    z-index: 5000;
    bottom: 10px;
    right: 10px;
    width: 300px
}

.alertify-logs-hidden {
    display: none
}

.alertify-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
    opacity: 0
}

.alertify-log-show {
    right: 0;
    opacity: 1
}

.alertify-log-hide {
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    transform: translate(300px, 0);
    opacity: 0
}

.alertify-dialog {
    padding: 25px
}

.alertify-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.alertify-inner {
    text-align: center
}

.alertify-text {
    margin-bottom: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%
}

.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
    background: 0;
    text-decoration: none;
    border: 0;
    line-height: 1.5;
    font-size: 100%;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px
}

.alertify-isHidden {
    display: none
}

@media only screen and (max-width:680px) {
    .alertify,
    .alertify-logs {
        width: 90%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .alertify {
        left: 5%;
        margin: 0
    }
}

.alertify,
.alertify-log {
    font-family: sans-serif
}

.alertify {
    background: #FFF;
    border: 10px solid #333;
    border: 10px solid rgba(0, 0, 0, .7);
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box
}

.alertify-text {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 4px
}

.alertify-button {
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .5);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0))
}

.alertify-button:hover,
.alertify-button:focus {
    outline: 0;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0))
}

.alertify-button:focus {
    box-shadow: 0 0 15px #2b72d5
}

.alertify-button:active {
    position: relative;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)
}

.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
    background-color: #fe1a00;
    border: 1px solid #d83526
}

.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
    background-color: #5cb811;
    border: 1px solid #3b7808
}

.alertify-log {
    background: #1f1f1f;
    background: rgba(0, 0, 0, .9);
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .5)
}

.alertify-log-error {
    background: #fe1a00;
    background: rgba(254, 26, 0, .9)
}

.alertify-log-success {
    background: #5cb811;
    background: rgba(92, 184, 17, .9)
}

.alertify-log-info {
    background: #4486f4;
    background: rgba(68, 134, 244, .9)
}

.error-Tooltip {
    background-color: #df3030;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    z-index: 999999
}

.error-Tooltip .gwt-Label {
    color: white;
    padding: 4px;
    font-weight: normal;
    background-color: #df3030
}

.error-Tooltip .popupContent {
    background-color: #df3030 !important;
    border: none !important;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px
}

.checkBoxsContainer {
    border-collapse: separate !important;
    padding: 2 0 1 2
}

.radioButtonsContainer {
    border-collapse: separate !important
}

.dateBoxPopup {
    z-index: 99999
}

.fillParentWidth {
    width: 100%
}

.fillParentHeight {
    height: 100%
}

.ATHeader {
    background: #f1f1f1;
    table-layout: fixed;
    width: 100%
}

.ATHeader td {
    background: #f1f1f1;
    padding: 2px 4px 2px 4px
}

.ArrayTree .Buttons {
    table-layout: fixed
}

.ArrayTree .TreeLeafItem {
    table-layout: fixed
}

.arrayTreeFilterComponent {
    width: 95%
}

.ViewEditor-Presenter select,
.ViewEditor-Presenter img {
    margin: 5px
}

.BorderPanel div {
    padding: 5px
}

.stepperDownStyle,
.stepperUpStyle,
.awayStyle,
.blockedStyle {
    padding: 0 !important
}

.childPanel {
    overflow-y: hidden !important
}

.editionPanel {
    overflow: hidden !important
}

.ArrayTree-Grouped {
    margin-top: 3px
}

.ArrayTree-Grouped .NodeLabel {
    margin-left: 4px
}

.TreeItemContainer {
    padding: 0 !important
}

.gwt-DisclosurePanel-rmpjsdebug td img {
    padding: 0 0 0 5px
}

.gwt-Anchor {
    cursor: pointer;
    cursor: hand
}

.array-footers .array-td-buttons {
    border-left: solid #e3e3e3 1px
}

.ColumnHeader .gwt-DateBox {
    padding: 5px 0 !important;
    margin: 2px 5px !important
}

.gwt-RadioButton label,
.gwt-CheckBox label {
    padding: 0 12px 0 0
}

.History .ArrayTree-Presenter {
    min-height: 100px
}

.Report .ArrayTree-Presenter {
    min-height: 300px
}

.AddAComment {
    color: #b2b2b2 !important
}

#header {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, #fff 0, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, #fff 0, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, #fff 0, #f6f6f6 47%, #ededed 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    top: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    padding: 0;
    margin: 0
}

#header .logoBox,
#header .appliName {
    float: left
}

#header .appliName {
    font-size: 30px;
    font-weight: bold;
    color: #636363;
    padding: 14px 0 9px 20px
}

#header .actionBox span {
    color: #08c
}

#header .actionBox>span {
    margin: 5px 0
}

#header .actionBox * {
    float: left
}

#header img {
    vertical-align: middle;
    border: 0
}

#header #rmpCustomerLogo {
    zoom: 1;
    display: -moz-inline-stack;
    display: inline-block
}

#header #rmpLogo {
    line-height: 59px;
    zoom: 1;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0 2.5em 0 .5em;
    background: url(images/background_logo_rmp.gif) right center no-repeat;
    position: relative;
    z-index: 0
}

#header #rmpCustomerLogo {
    zoom: 1;
    display: -moz-inline-stack;
    display: inline-block
}

#header .iconLogo {
    display: none
}

#header .actionBox {
    position: absolute;
    top: 15px;
    right: 5%;
    padding: 0 .5em;
    z-index: 1
}

#header .action {
    font-weight: bold;
    margin: 0 auto 0 auto;
    vertical-align: top;
    line-height: 20px;
    vertical-align: top
}

#header .action:first-child {
    margin-left: .5em
}

#header .icon-poweroff {
    margin: 0 0 0 1em
}

#rmpmenu {
    margin: 3px;
    padding: 0;
    height: 25px;
    position: absolute;
    z-index: 150
}

.rmpmenu li {
    list-style: none
}

.rmplevel0 {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background-color: #eee;
    padding: 3px 0;
    margin: 1px 1px 1px 0;
    height: 18px
}

.rmplevel0 a {
    margin: 1px 10px
}

.rmpoption0 {
    display: none;
    padding: 6px 0 0 0;
    position: absolute
}

.rmplevel0 a {
    color: #343434;
    text-decoration: none
}

.rmplevel0:hover,
.rmplevel1:hover {
    background: #939393;
    cursor: pointer
}

.rmplevel0:hover>a {
    color: white
}

.rmplevel1:hover>a {
    color: white
}

.rmplevel1 {
    text-align: left;
    z-index: 500;
    background: lightgray;
    float: left;
    clear: left;
    padding: 3px 0;
    margin: 0;
    width: 100%
}

.rmplevel0:hover .rmpoption0 {
    display: block
}

.rmpmenu {
    clear: both;
    padding: 0;
    width: 100%;
    border-top: 2px solid white;
    height: 28px;
    margin: 3px 0
}

#rmpmenu a {
    white-space: nowrap
}

.rmpoptiondisabled a:hover {
    cursor: default;
    color: gray
}

.rmpoptiondisabled a {
    cursor: default;
    color: gray
}

.rmpoptiondisabled.rmplevel0:hover>a {
    color: gray
}

.rmpoptiondisabled.rmplevel0:hover {
    background: transparent
}

.rmpoptiondisabled.rmplevel1:hover>a {
    color: gray
}

.rmpoptiondisabled.rmplevel1:hover {
    background: lightgray
}

.gwt-Picker {
    min-width: 140px
}

.Leaf {
    white-space: pre-wrap
}

.label-leaf {
    margin-right: 4px
}

.rmppgbsteps {
    list-style: none;
    list-style-image: none;
    margin: -20px 0 0 0;
    float: left
}

.rmppgbstephidden {
    display: none
}

.rmppgbstep {
    float: left;
    margin-right: 30px;
    text-align: center;
    position: relative;
    width: 100px
}

.rmppgbsteps .rmppgbstepname {
    display: table-cell;
    height: 46px;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
    color: black;
    font-size: 13px
}

.rmppgbsteps .rmppgbstepsubname {
    display: table-cell;
    height: 60px;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
    color: black;
    position: absolute;
    font-weight: normal;
    font-size: 11px;
    z-index: -1
}

.rmppgbsteps .rmppgbstepnum,
.rmppgbsteps .rmppgbsteplastnum {
    font-size: 14px;
    font-weight: bold;
    border: 3px solid gray;
    border-radius: 50%;
    width: 18px;
    display: inline-block;
    margin-top: 10px;
    color: gray
}

.rmppgbsteps .rmppgbstepnum:after {
    background: none repeat scroll 0 0 darkgray;
    bottom: 10px;
    content: "";
    display: block;
    height: 2px;
    left: 62px;
    position: absolute;
    width: 108px
}

.rmppgbsteps .rmppgbstepcurrent .rmppgbstepnum,
.rmppgbsteps .rmppgbstepcurrent .rmppgbsteplastnum {
    background-color: black;
    border: 3px solid black;
    color: white
}

.rmppgbsteps .rmppgbstepcurrent .rmppgbstepname {
    font-weight: bolder
}

.rmppgbsteps .rmppgbstepprevious .rmppgbstepnum,
.rmppgbsteps .rmppgbstepprevious .rmppgbsteplastnum {
    background-color: darkgray;
    border: 3px solid darkgray;
    color: white
}

#rmppgbcontainer {
    float: right;
    right: -50%;
    position: relative
}

#rmppgbcenter {
    float: right;
    right: 50%;
    position: relative
}

#rmppgbclear {
    clear: both
}

#rmppgbspace {
    height: 100px
}

.rmpTreeError {
    color: red;
    margin-left: 2px
}

.GGUOXKHCPI .gwt-Image {
    cursor: auto !important
}

.gwt-Anchor-notarget {
    cursor: auto !important
}

@media print {
    body {
        background: #FFF;
        width: 100%
    }
    #globalContent {
        box-shadow: none
    }
    #header {
        background: 0;
        box-shadow: none;
        border-bottom: solid 1px #CCC
    }
    #header .appliName {
        font-size: 20px;
        float: none
    }
    #headerbanner {
        min-height: 0 !important
    }
    .actionBox {
        display: none
    }
    .rmpmenu {
        display: none
    }
    .logoBox {
        height: 40px;
        overflow: hidden
    }
    #rmpCustomerLogo {
        height: 100%
    }
    #rmpCustomerLogo img {
        height: 100%;
        margin-right: 8px
    }
    .rowStyle,
    .rowStyle>tbody,
    .rowStyle>tbody>tr>td {
        display: block
    }
    .colStyle {
        -webkit-flex: 1 0 50%;
        flex: 1 0 50%;
        min-height: 3rem;
        padding: 0 .5rem !important;
        box-sizing: border-box
    }
    .rowStyle>tbody>tr {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }
    input[type="text"],
    textarea {
        border: solid 1px #333;
        box-shadow: none
    }
}