/******** Customized options ********/
.Table-gridPC {
    background-color: #e8ffff;
}
.gwt-RadioButton input[type=radio] {
    margin: 4px 4px 0;
}

/******** responsive button options ********/
@media (max-width: 768px) {
    .btn-responsive {
        padding: 1rem !important;
        width: auto;
        /*padding:2px 4px;*/
        line-height: 1;
    }
    .checkbox-inline input[type=checkbox],
    .radio-inline  input[type=radio] {
        opacity: 1;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding: 1rem !important;
        width: auto;
        /*padding:4px 9px;*/
        line-height: 1.2;
    }
    .checkbox-inline input[type=checkbox],
    .radio-inline  input[type=radio] {
        opacity: 1;
    }
}
/******** Specific alignment for Service Desk Buttons ********/
.button-25p
{
    width: 25%;
    text-align: center;
}
/******** Customized datepicker ********/
#ui-datepicker-div
{
    z-index: 400 !important;
}
/******** Customized datebox ********/
#id_rowFilter1 .form-control[readonly],
#id_rowFilter2 .form-control[readonly],
#id_rowImacInfosCompl .form-control[readonly]
{
    background-color: #fff;
}
/******** Customized link/hover ********/
.loupe
{
    color: #007DBB;
    /*line-height: 1.1em;*/
    padding: 5px;
}
.loupe:hover
{
    color: #000000;
    background-color: #EC971F;
    padding: 5px;
}
.btn_no_style
{
    background: none;
    border: none;
}
.btn_style_loupe 
{
  background: #ffffcc;
  border: 1px solid;
  margin: 0 7px;
}
.pointer
{
    cursor: pointer;
}

/******** Service Desk CSS ********/
.gwt-Button-sdesk {
    color: #FFF;
}
.sdesk_img {
    width: 300px;
}

/******** Custom Header menu ********/

.displayme_true {
    display: block;
}
.displayme_false {
    display: none;
}

.rmpmenu li {
    background-color: #ED1C24;
}
.rmpmenubis li {
    /* Fujitsu colors */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #a30b1a 45%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a90329 0%,#a30b1a 45%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a90329 0%,#a30b1a 45%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}
#rmpmenu {
    margin: 0;
}
#rmpmenu a {
    font-size: 13px;
    color: #FFFFFF;
    padding: 5px 10px;
    margin: 0;
}
#rmpmenu a:hover {
    text-decoration: none;
    color: #FF9600;
}
.rmplevel0 {
    margin: 0 0 1px 2px;
    height: 26px;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
}

.rmplevel0:hover{
    background: #FFFFFF;
    color: #ff9600;
    cursor: pointer;
}    

/******** Custom Icons navigation menu ********/
.nav_img a
{
  color: #000000;
  text-decoration: none;
}

.nav_img a:focus, .nav_img a:hover 
{
  color: #000000;
  text-decoration: none;
}

.homeThumbnail
{
    text-align: center;
    font-weight: bold;
    font-family: Tahoma,sans-serif,Arial;
    font-size: 10pt;
    height: 2em;
    line-height: 2em;
}
.homeTitle
{
    /*max-width: 100px;*/
    vertical-align: bottom;
    display: inline-block;
    line-height: 1.3;    /* on rétablit le line-height */
    text-align: center;
}
.homeImage
{
    text-align: center;
    /*width: 60px;*/
}
.homeIcon
{
    width: 120px;
}
 
/******** Custom RMP Tab panes ********/
.gwt-TabBar .gwt-TabBarItem 
{
    background: #D3E3ED;    /* background colour of the non-selected tabs */
    color: black;           /* font colour of the tab labels*/
    line-height: 20px;
}
.gwt-TabBar .gwt-TabBarItem-selected 
{
    background: #77C1EF;   /* background colour of the selected tab */
}
/* Customize sub-TabPanel lvl 2 */
.gwt-TabPanel-two .gwt-TabBar .gwt-TabBarItem 
{
    background: #FEDD8A;    /* background colour of the non-selected tabs */
    color: black;           /* font colour of the tab labels*/
}
.gwt-TabPanel-two .gwt-TabBar .gwt-TabBarItem-selected 
{
    background: #FFBB33;   /* background colour of the selected tab */
}
/* Customize sub-TabPanel lvl 3 */
.gwt-TabPanel-three .gwt-TabBar .gwt-TabBarItem 
{
/*    background: #7FE499;     background colour of the non-selected tabs */
    background: #FEDD8A;    /* background colour of the non-selected tabs */
    color: black;           /* font colour of the tab labels*/
}
.gwt-TabPanel-three .gwt-TabBar .gwt-TabBarItem-selected 
{
/*     background: #00C851;   background colour of the selected tab */
    background: #FFBB33;   /* background colour of the selected tab */    
}
/* Customize border TabPanel */
.gwt-TabPanelBottom 
{
    border-color: #7BA8AE;     /* border colour of the selected tab*/
}
.gwt-TabPanel-two .gwt-TabPanelBottom 
{
    border-width: 0;
    border-style: none;
}
.gwt-TabPanel-three .gwt-TabPanelBottom 
{
    border-width: 0;
    border-style: none;
}

/******** charts / Maps / Video ********/
.chart 
{
  width: 100%; 
  min-height: 300px;
  /*border: 1px solid grey;   */
}
.canvas-90percent 
{
  /* background-color: blue; */
  width: 100%;
  height: auto;
}
#pan_map *
{
    overflow:visible;
}
#pan_map div
{
    max-width: initial;
}
#container_map
{
    padding-left: 0;
}
#menu_map
{
    padding-left: 0;
}
#menu_map .panel
{
    /*margin-top: 10px;*/
    padding: 7px;
}
#menu_map .panel-heading h5
{
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
#menu_map .panel-body
{
    padding: 15px 5px 5px 5px;
}
#menu_map li, #admin_module li
{
    list-style-type: none;
    line-height: 2.5em;
}
#menu_map li a
{
    text-decoration: none; 
}
#menu_map a:hover 
{
    text-decoration: none;
}
#menu_map li img
{
    height: 25px;
}
.title_infoWindowMap
{
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 0;
    border-radius: 10px;
}
.address_infoWindowMap
{
    font-style: italic;
    font-size: 12px;
    padding: 5px 15px;
    background-color: #eee;
}
.content_infoWindowMap hr
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.content_infoWindowMap p
{
    margin-bottom: 1px;
}
#id_videoRow 
{ 
    max-width: 640px; 
    text-align: left; 
    margin: 30px auto; 
}
/* Show the controls (hidden at the start by default) */
.video-js .vjs-control-bar 
{ 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.height-600
{
    height: 600px;
}


/******** Bootstrap minor changes ********/
.container-fluid .no-margin
{
    margin: 0;
}
.container .no-margin
{
    margin: 0;
}
.heading-row 
{
    margin-bottom: 0;
}
.heading-row .alert
{
    margin-bottom: 0;
}
.my-actions .row
{
    margin: 0;
}
.my-actions .title-form-1
{
    text-align: left;
}
.row
{
    margin: 10px 0 10px 0;
}
.row .no-margin
{
    margin: 0;
}
.row .heading-row
{
    margin-top: 0;
}
.label
{
    display: block;
}
.control-label
{
    padding-top: 20px
}
.panel-title
{
    font-weight: bold;
}

/* ***************** */
/* CSS personnalisé  */
/* ***************** */
/*#header .appliName .appliNamePos {
    font-size: 30px;
    font-weight: bold;
    color: #636363;
    padding: 14px 0 9px 20px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}*/
#header .appliName
{
    max-width: 500px;
    text-align: center;
    padding: 40px 20px 9px 20px;
    margin-left: 40px;
}
#id_rating_container .btn-group-xs>.btn, .btn-xs,
#id_rating_container .btn-group-sm>.btn, .btn-sm 
{
    line-height: 1;
    min-width: 5px !important;
    width: 28px;
}
.inline
{
    display:inline;
}
/* centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    /* inline-block space fix */
    margin-right: -4px;
}
.width-250
{
    width: 250px;
}
.width-200
{
    width: 200px;
}
.width-180
{
    width: 180px;
}
.width-120
{
    width: 120px;
}
#id_quantity
{
    color: #FF0000;
}
#id_imac_request
{
    background-color: #D9EDF7;
}
#id_fujitsu_follow_up 
{
  background-color: #FFFFB3;
}
#id_imac_state_update
{
  background-color: #CCFFCC;
}
#id_imac_state_update input[type=checkbox]
{
  margin-right: 5px;
}
#id_imac_state_update label
{
  display: inline;
}
#id_infoSdmoArea
{
    margin-right: 15px;
}
.bkg-light-blue
{
    background-color: #D9EDF7;
}
.bkg-light-yellow
{
    background-color: #F9F690;
}
.bkg-light-green
{
    background-color: #CCFFCC;
}
.padding-top-bottom-10px
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin-top-bottom-10px
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-top-10px
{
    margin-top: 10px;
}
.margin-bottom-10px
{
    margin-bottom: 10px;
}
.margin-left-right-10px
{
    margin-left: 10px;
    margin-right: 10px;
}
.no-margin
{
    margin: 0;
}
.form-group, .input-group
{
    margin-bottom: 3px;
}
.text-red
{
    color: #EA0202;
}
.curr-period, .prev-period, .title-form-1
{
    /*text-align: center;*/
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #FFBB33;
}
.title-form-2
{
    text-align: left;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #FFBB33;
    background: #FFBB33;
}
.curr-period, .prev-period
{
    text-transform: capitalize;
    text-align: center;
}
.favorite-btn
{
     color: #FFFF00; 
     border: 1px solid #FFFF00;
}
.stock-table
{
    margin-top: 20px;
    margin-bottom: 15px;
}
.stock-title, .imac-title
{
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFBB33;
}
#id_progressbar .nowrap
{
    white-space:nowrap;
}

.interligne-1-5em
{
    line-height: 1.5em;
}

.interligne-2em
{
    line-height: 2em;
}

.interligne-2-5em
{
    line-height: 2.5em;
}

.interligne-std
{
    line-height: 1em;
}

/* ********************************** */
/*  Used for responsive dataTable     */
/* ********************************** */
@media only screen and (max-width: 767px) {
    .container .table-responsive
    {
        float: none;
        width: 100%;
        display: block;
        clear: both;
    }
}

div.dataTables_wrapper select.input-sm
{
    line-height: 25px;
}

/* ********************************** */
/*  CSS for rating statistics         */
/* ********************************** */
.jauge-rating
{
     width: 35px; 
     line-height: 1;
}
.rate-value
{
    height: 9px; 
    margin: 5px 0;
}
.rate-number
{
    margin: 5px 10px;
}
.rate-progress
{
     height: 15px; 
     margin: 5px 0;
}
.pct-100
{
    width: 100%;
}
.pct-80
{
    width: 80%;
}
.pct-60
{
    width: 60%;
}
.pct-40
{
    width: 40%;
}
.pct-20
{
    width: 20%;
}
.btn-grey
{
    background-color: #D8D8D8;
    color: #FFF;
}
.rating-block
{
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 5px 15px 20px 15px;
    border-radius: 3px;
}
.padding-bottom-7
{
    padding-bottom: 7px;
}
.review-block
{
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}
.review-block-name
{
    font-size: 12px;
    margin: 10px 0;
}
.review-block-date
{
    font-size: 12px;
}
.review-block-rate
{
    font-size: 13px;
    margin-bottom: 15px;
}
.review-block-title
{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.review-block-description
{
    font-size: 13px;
}
.overflow-visible
{
    overflow: visible;
}
.black-italic
{
    color: black;
    font-style: italic;
}
.text-bold
{
    font-weight: bold;
}
.text-italic
{
    font-style: italic;
}
.text-bold-italic, .text-italic-bold
{
    font-weight: bold;
    font-style: italic;
}
.sr-only-visible
{
    position: absolute;
    padding: 0;
    margin: 0 auto;
    overflow: visible;
    clip: auto;
    border: 0;
}
.flex-vertical-middle
{
    display: flex;
    align-items: center;
}