/**
 * CSS for the widget Button
 */
.rmpButton .gwt-Button{
	
}

#id_bF9vnp {
    width : 300px;
}

#id_lXIK13 {
    width : 300px;
}

#id_f3Qu5V {
    width : 300px;
}
/**
 * CSS for the widget Image
 */
.rmpImage .gwt-Image{
 
}

/**
 * CSS for the widget HTML
 */
.rmpHTML .gwt-HTML{
	
}

/**
 * CSS for the widgets TextInput, DateInput, NumberInput, emailAdressInput and urlInput
 */
.rmpInput .gwt-TextBox{
	
}

.rmpInput .gwtImage{
	
}

.rmpInput .LabelVariable{
	
}

.rmpInput .LabelError{
	
}

.rmpInput .LabelError-missing{
	
}

.rmpInput .LabelError-invalid{
	
}

.rmpInput .gwt-PasswordTextBox{
	
}

.rmpInput .gwt-Anchor-Example{
	
}

/**
 * CSS for the widget Switch
 */
.rmpSwitch .gwt-CheckBox{
	
}

/**
 * CSS for the widget Spinner
 */
.rmpSpinner .gwt-Image{
	
}

/**
 * CSS for the widget Captcha
 */
.rmpCaptcha .gwt-TextBox{
	
}

.rmpCaptcha .reload-captcha-button{
	
}

.rmpCaptcha .gwt-Image{
	
}

/**
 * CSS for the custom widget
 */
.rmpCustom{
	
}

/**
 * CSS for the widget tab
 */
.rmpTabs .gwt-TabPanel{
	
}

.rmpTabs .gwt-TabBar{
	
}

.rmpTabs .gwt-TabBarFirst-wrapper{
	
}

.rmpTabs .gwt-TabBarFirst{
	
}

.rmpTabs .gwt-TabBarItem-wrapper{
	
}

.rmpTabs .gwt-TabBarItem-wrapper-selected{
	
}

.rmpTabs .gwt-TabBarItem{
	
}

.rmpTabs .gwt-TabBarItem-selected{
	
}

.rmpTabs .gwt-TabBarRest-wrapper{
	
}

.rmpTabs .gwt-TabBarRest{
	
}

/**
 * CSS for the widget Section
 */
.rmpSection{

}

/**
 * CSS for the widget Static text area
 */
.rmpSTA .gwt-Label{
	
}

.rmpSTA .gwt-Anchor{
	
}

/**
 * CSS for the widget List
 */
 
.rmpList .gwt-ListBox{
 
}
 
.rmpList .LabelVariable{
 
}

.rmpList .gwt-Image{
	
}

.rmpList .LabelError{
	
}

/**
 * CSS for the widget check boxes list
 */
.rmpList .gwt-CheckBox{
	
}

/**
 * CSS for the widget Radio buttons
 */
.rmpList .gwt-RadioButton{
	
}

/**
 * CSS for the widget Array
 */
.odd{

}
.even{

}
.array-header{
	
}

.array-footers{

}
.array-footer{

}

/**
 * CSS for the widget File upload
 */
.rmpFileUpload .gwt-Button{
	
}

.rmpFileUpload .gwt-Label{
	
}

.rmpFileUpload .gwt-Image{
	
}

/**
 * CSS for the widget Comment
 */
.rmpComment .gwt-TextArea{
	
}

.rmpComment .gwt-Button{
	
}

/**
 * CSS for the widget Report
 */
.rmpReport .gwt-TreeTable {
 
}

.rmpReport .gwt-TreeTable .dataTable td,
.rmpReport .gwt-TreeTable .headerTable td,
.rmpReport .gwt-TreeTable .footerTable td {
 
}

.rmpReport .gwt-TreeTable .headerTable td, 
.rmpReport .gwt-TreeTable .footerTable td {
 
}

@sprite .rmpReport .gwt-TreeTable .headerWrapper {
  
}

.rmpReport .gwt-TreeTable .dataWrapper {
	
}

@sprite .rmpReport .gwt-TreeTable .footerWrapper {

}

.rmpReport .gwt-TreeTable .dataTable tr.hovering {
 
}

.rmpReport .gwt-TreeTable .dataTable tr.selected {
  
}

.rmpReport .gwt-TreeTable .columnTextFilter, .gwt-TreeTable .columnNumberFilter, .columnDateFilter {
   
}

.rmpReport .gwt-TreeTable .columnTextFilter td, .gwt-TreeTable .columnNumberFilter td, .gwt-TreeTable .columnDateFilter td {
  
}

.rmpReport .gwt-TreeTable .columnTextFilter .operatorButton, .gwt-TreeTable .columnNumberFilter .operatorButton, .gwt-TreeTable .columnDateFilter .operatorButton {
       
}

.rmpReport .gwt-TreeTable .columnNumberFilter .operatorButton, .gwt-TreeTable .columnDateFilter .operatorButton {
     
}

.rmpReport .gwt-TreeTable .columnNumberFilter .numberBox,
.rmpReport .gwt-TreeTable .columnTextFilter .textBox,
.rmpReport .gwt-TreeTable .columnDateFilter .dateBox .gwt-TextBox {
       
}

.rmpReport .gwt-TreeTable .treeNodeWrapper {
	
}

.rmpReport .gwt-TreeTable .treeNodeWrapper td {

}

@sprite .rmpReport .gwt-TreeTable .treeTableIndent {
    
}

@sprite .rmpReport .gwt-TreeTable .treeTableIndentUp {
     
}

@sprite .rmpReport .gwt-TreeTable .treeTableOpenNode {
     
}

@sprite .rmpReport .gwt-TreeTable .treeTableClosedNode {
      
}

/**
 * CSS for the widget HTML editor with preview
 */
.rmpInput .gwt-HTML{
	
}

.rmpInput .gwt-Image{
	
}

.rmpInput .LabelVariable{
	
}

.rmpInput .gwt-TextArea{
	
}

.rmpInput .LabelError{
	
}

/**
* Style applied to Tree widget
*/
.rmpCellTree .cellTreeWidget{
	
}
/**
* Applied to tree items
*/
.rmpCellTree .cellTreeWidget .cellTreeItem{

}
/**
* Applied to open/close icon
*/
.rmpCellTree .cellTreeWidget .cellTreeItem .cellTreeItemImage{

}
/**
* Applied to the wrapper around the image and value
*/
.rmpCellTree .cellTreeWidget .cellTreeItem .cellTreeItemImageValue{

}
/**
* Applied to the value in an item
*/
.rmpCellTree .cellTreeWidget .cellTreeItem .cellTreeItemValue{

}
/**
* Applied to the icon of an item
*/
.rmpCellTree .cellTreeWidget .cellTreeItem .cellTreeItemValue .rmpCellTreeItemIcon{

}
/**
* Applied to the keyboard selected item
*/
.rmpCellTree .cellTreeWidget .cellTreeKeyboardSelectedItem{
	
}
/**
* Applied to open tree items
*/
.rmpCellTree .cellTreeWidget .cellTreeItem .cellTreeOpenItem{

}
/**
* Applied to top level items
*/
.rmpCellTree .cellTreeWidget .cellTreeTopItem{

}
/**
* Applied to open/close icon at the top level
*/
.rmpCellTree .cellTreeWidget .cellTreeTopItem .cellTreeTopItemImage{

}
/**
* Applied to the wrapper around the image and value of top level items
*/
.rmpCellTree .cellTreeWidget .cellTreeTopItem .cellTreeTopItemImageValue{

}
#globalContent{
	width:90% !important;	
}
#headerbanner{
	width:90% ;	
	margin: auto ;
}
div#rmpfooter {
 width:90%;
}
#loading-indicator{
    width: 90%;
}
.rmpmenu{margin: auto; }
#rmpmenu{padding: 0 0 0 5%;}

